@import 'tailwindcss';

@theme {
  --color-primary-red: #dc2626;
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background-color: #f9fafb;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
